{% extends "layout.html" %}
{% block content %}

<div class="uk-overflow-auto">
    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
        <thead>
            <tr>
                <th class="uk-table-shrink">PP</th>
                <th class="uk-table-shrink">UserID</th>
                <th class="uk-table-expand">File</th>
                <th class="uk-width-small">File Name</th>
                <th class="uk-width-small">#Downloads</th>
                <th class="uk-table-shrink uk-text-nowrap">Download</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img class="uk-preserve-width " src="http://www.esa.int/var/esa/storage/images/esa_multimedia/images/2017/11/autumn_fireball/17255671-1-eng-GB/Autumn_fireball_node_full_image_2.jpg" width="40" alt=""></td>
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="/files/upload.unique_filename">upload.user_id   </a>
                </td>
                <td class="uk-text-truncate">upload.file_name</td>
                <td class="uk-text-nowrap">upload.unique_filename</td>
                <td class="uk-text-nowrap">/download/upload.unique_filename</td>
                <td class="uk-text-nowrap">/download/up load.unique_filename</td>    
            </tr>
            
            
        </tbody>
    </table>
</div>

{%  endblock  %}