{% extends "layout.html" %}
{% block content %}
{% if error_message %}
<div class="uk-alert-danger" uk-alert>
  <a class="uk-alert-close" uk-close></a>
  <p>{{error_message}}</p>
</div>
{% endif %}

<form class="uk-form-horizontal uk-margin-large" action="/signup" method="POST">

  

  <div class="uk-margin">
    <label class="uk-form-label" for="form-horizontal-text">College</label>
    <div class="uk-form-controls">
        <input name = "college" class="uk-input" id="form-horizontal-text" type="text" placeholder="College name">
    </div>  
  </div>
  <div class="uk-margin">
    <label class="uk-form-label" for="form-horizontal-text">User ID</label>
    <div class="uk-form-controls">
        <input name = "user_id" class="uk-input" id="form-horizontal-text" type="text" placeholder="User ID wil be public">
    </div>  
</div>

  <div class="uk-margin">
    <label class="uk-form-label" for="form-horizontal-text">Password</label>
    <div class="uk-form-controls">
        <input name = "password" class="uk-input" id="form-horizontal-text" type="password" placeholder="Have a nice password!">
    </div>  
  </div>

  <button class="uk-button uk-button-primary">Submit</button>

</form>

{% endblock %}