{% extends "layout.html" %}
{% block content %}

{% if success_message %}

<div class="uk-alert-success" uk-alert>
  <a class="uk-alert-close" uk-close></a>
  <p>{{success_message}}</p>
</div>

{% endif %}



<form action="/upload" method="POST" enctype="multipart/form-data">
  <div class="uk-margin">
    <label class="uk-form-label" for="form-horizontal-text">Topic</label>
    <div class="uk-form-controls">
        <input name = "topic" class="uk-input" id="form-horizontal-text" type="text" placeholder="Like class year or subject or course">
    </div>
  </div>
  <div class="uk-margin" uk-margin>
    <div uk-form-custom="target: true">
        <input type="file" name="file">
        <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
    </div>
    <button class="uk-button uk-button-primary">Submit</button>
</div>
</div>

</form>



{% endblock %}